@import url(https://fonts.googleapis.com/css?family=Mukta:200,300,regular,500,600,700,800);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: 'Mukta', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
}


/* COMMON */

.heading {
    font-size: 2.5rem;
    color: #22486c;
    background-color: rgba(255,255,255,.8);
    font-weight: 500;
    margin-top: 10rem auto;
    text-align: center;
    border-radius: 8px;
}



/*  CONTAINER */

.container {
    background-image: linear-gradient(rgba(34,72,108,.1), rgba(34,72,108,.1)), url(images/houseplant.jpg);
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    margin: 0 auto;
    width: 95%;
    height: 100vh;
    position: relative;
    justify-content: center;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}




/* NAVBAR */

nav {
    width: 100%;
    height: 2.5rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    overflow: hidden;
    z-index: 3;
}

ul {
    display: flex;
}

ul li a {
    color: #22486c;
    font-size: 1rem;
    margin: 0 2.2rem;
}   

.logo {
    width: 9rem;
    margin: .1rem 0 0 0;
}

.burger {
    bottom: 0;
    background-color: transparent;
    font-size: 20px;
    color: #22486c;
    display: none;
    border: 0;
    cursor: pointer;
    outline: none;
}

ul li a {
    position: relative;
}

ul li a::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #22486c;
    position: absolute;
    left: 0;
    bottom: -18px;
    transition: transform .2s ease;
    opacity: 0;
}

ul li a:hover::after {
    transform: translateY(-15px);
    opacity: 1;
}






/* HERO */

.hero-wrapper {
    position: relative;
    width: 100%;
    height: 92vh;
}

.hero {
    position: absolute;
    top: 20rem;
    left: 20rem;
}

.hero h1, .hero h3 {
    color: #22486c;
    margin: .2rem auto;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.btn {
    background-color: #51aa3a;
    color: #fff;
    width: 11rem;
    font-size: 1.1rem;
    padding: .8rem;
    border-radius: .4rem;
    border: none;
    cursor: pointer;
}

.established {
    position: absolute;
    top: 54rem;
    left: 10rem;
    color: #22486c;
    font-size: .8rem;
    font-style: cursive;
}





/* ABOUT SECTION */

.about-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    /* background-color: rgba(34,72,108,.1); */
    background-color: rgb(239, 239, 239);
}

.about-card {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 2.4rem;
}

.card-1 {
    margin-top: 10rem;
}

.about-photo {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.about-photo img {
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
}

.about-text {
    width: 30rem;
    margin: 0 auto;
}

.about-text h2, .about-text p {
    color: #22486c;
}

.about-text h2 {
    font-size: 1.8rem;
    margin-bottom: .5rem;
}
.about-text p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}




/* TESTIMONIALS */

.testimonials-wrapper {
    width: 100%;
    height: 100vh;
    /* background-color: rgba(34,72,108,.1); */
    position: relative;
    margin: 0 auto;
}

.cards {
    width: 60%;
    height: 65vh;
    margin: 2rem auto;
    display: flex;
}

.cards-left, .cards-right {
    width: 50%;
    height: 100%;
    margin: 0 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
}

.card {
    background-color: rgba(34,72,108,.9);
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(34,72,108,.4);
}

.card blockquote {
    width: 100%;
    font-size: 1.3rem;
    padding: 0 3rem;
}

.author {
    width: 100%;
    font-size: 1rem;
    padding: 0 3rem;
    font-style: italic;
    margin-top: .4rem;
}



/* SERVICES */

.services-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    /* background-color: rgba(34,72,108,.1); */
    /* background-color: rgb(239, 239, 239); */
    background-color: #fff;
}

.services-cards {
    width: 50%;
    height: 65vh;
    margin: 2rem auto;
    display: flex;
}

.services-card-1, .services-card-2 {
    width: 50%;
    height: 100%;
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1.5rem;
    color: #22486c;
    /* background-color: rgba(34,72,108,.8); */
    background-color: rgba(221,221,221,.2);
    box-shadow: 3px 3px 3px rgba(34,72,108,.4);
}

.services-card-1 h3, .services-card-2 h3 {
    font-size: 1.2rem;
}

.services-card-1 h5, .services-card-2 h5 {
    font-size: .8rem;
}

.services-card-1 li, .services-card-2 li {
    font-size: .8rem;
    line-height: .6rem;
}

.services-card-2 p {
    font-size: .8rem;
}



/* FAQ SECTION */

.faq-wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(34,72,108,.1);
    position: relative;
    margin: 0 auto;
}

.faq-wrap {
    width: 60%;
    height: 65vh;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

dl {
    width: 70%;
    height: 100%;
}

p.accordion {
    background-color: #fff;
    color: #22486c;
    cursor: pointer;
    padding: .5rem;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.3s;
    margin-bottom: .1rem;
    border-radius: 1rem;
    font-weight: bold;
}

/* Add a background color to the accordion if it is clicked on (add .active class in JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
    /* background-color: rgba(34,72,108,.1); */
    background-color: rgba(255,255,255,.8);
}

/* Unicode character for "plus" sign (+) */
p.accordion::after {
    content: '\2795'; 
    font-size: 1.2rem;
    color: transparent;
    text-shadow: 0 0 0 rgba(34,72,108,.8);
    float: right;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: "\2796"; 
}

div.panel {
    padding: .3rem 1rem;
    /* background-color: rgba(34,72,108,.1); */
    background-color: rgba(255,255,255,.8);
    color: #22486c;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom: .8rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

div.panel.show {
    opacity: 1;
    max-height: 12.5rem; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}



/* CONTACT US */

.contacts-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    background-color: rgba(34,72,108,1);
}

.heading-contacts {
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding-top: 10rem;
}

.contact-wrap {
    width: 80%;
    height: 75vh;
    margin: 2rem auto;
}

.contact-tel, .contact-email, .contact-form, .footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #22486c;
}

.contact-tel, .contact-email, .contact-form {
    width: 30%;
    background-color: #fff;
    border-radius: 8px;
    padding: .4rem;
    margin-bottom: .8rem;
}

.contact-tel h5, .contact-email h5, .contact-form h5 {
    font-size: 1.4rem;
    margin-bottom: .2rem;
}

.contact-form h5 {
    margin-bottom: .4rem;
}

.contact-tel p, .contact-email p {
    font-size: 1.2rem;
}

.contact-form {
    width: 60%;
    height: 60%;
    background-color: #fff;
    padding: 0.4rem;
}

form input, form label {
    display: block;
}

form label {
    text-align: left;
    font-weight: 500;
    padding-bottom: .2rem;
    font-size: .8rem;
}

form input {
    border-radius: 8px;
    padding: .2rem;
    margin-bottom: 0.3rem;
    color: #22486c;
    background-color: #fff;
    box-shadow: 2px 2px 1px rgb(0, 0, 0, .2);
    border: none;
}

form input:focus {
    background-color: rgba(221,221,221,.3);
    border: none;
}

form input:focus, textarea:focus {
    border: 1px solid rgba(34,72,108,.6);
}

.top-half-form {
    width: 80%;
    height: 15%;
    margin: 0 auto;
}
.bottom-half-form {
    width: 80%;
    height: 50%;
    margin: 0 auto;
}

.form-name, .form-email {
    float: left;
}

.form-surname, .form-email-verify {
    float: right;
}

textarea {
    width: 100%;
    height: 6rem;
    resize: none;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(0, 0, 0, .2);
    border-radius: 6px;
    color: #22486c;
    letter-spacing: .05rem;
}

.form-message label {
    padding-top: 4.5rem;
}

.submit-btn {
    background-color: #51aa3a;
    color: #fff;
    width: 6rem;
    font-size: 1rem;
    padding: .3rem;
    border-radius: .6rem;
    border: none;
    cursor: pointer;
}



.footer {
    font-size: 1.2rem;
    color: #fff;
    line-height: 2.5rem;
    margin-top: 2rem;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fff;
    color: #22486c;
    padding: 1rem;
    font-weight: bold;
}









@media (max-width: 680px) and (max-height: 666px) {
    .container {
        width: 100%;
    }
    .heading {
        font-size: 1.5rem;
        margin-top: 3rem;
    }
    nav {
        height: 3.5rem;
    }
    .burger {
        display: block;
        font-size: 2rem;
        z-index: 30;
    }
    /* nav ul {
        position: fixed;
        top: 10px;
        left: 15%;
        background-color: red;
        box-shadow: 0 3px 5px rgba(0,0,0,.1);
        flex-direction: column;
        width: 70%;
        text-align: center;
        transform: translateX(120%);
        -webkit-transform: translateX(120%);
        -moz-transform: translateX(120%);
        -o-transform: translateX(120%);
        transition: transform .4s ease;
    }
    nav ul.show {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0); 
        z-index: 4;
    } */
    ul {
        position: fixed;
        top: 60px;
        left: 15%;
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(0,0,0,.1);
        flex-direction: column;
        width: 70%;
        text-align: center;
        margin-left: -100%;
        animation: .4s forwards close;
        z-index: 4;
    }
    ul.show {
        animation: .4s forwards open;
    }

    @keyframes open {
        0% {
          margin-left:-100%;
        }
        100% {
          margin-left:0%;
        }
      }
      
      @keyframes close {
        0% {
          margin-left:0%;
        }
        100% {
          margin-left:-100%;
        }
      }
    

    ul li {
        margin: 5px;
    }
    ul li:last-child {
        display: none;
    }
    .logo {
        width: 6rem;
    }
    .hero {
        top: 9rem;
        left: 1.2rem;
    }
    .hero h1 {
        font-size: .8rem;
        margin-bottom: 1rem;
    }
    .hero h3 {
        display: none;
    }
    .btn {
        width: 6rem;
        font-size: .7rem;
        padding: .4rem;
    }
    .established {
        top: 34rem;
        left: 1.2rem;
        font-size: .5rem;
    }
    .about-wrapper {
        height: 150vh;
    }
    .about-card {
        width: 70%;
        margin: 0 auto;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .card-1 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    .about-photo {
        display: none;
    }
    .about-photo img {
        width: 6rem;
        height: 6rem;
    }
    .about-text {
        width: 100%;
    }
    .about-text h2 {
        font-size: 1.2rem;
        text-align: center;
    }
    .about-text p {
        font-size: 1rem;
    }
    .testimonials-wrapper {
        height: 150vh;
    }
    .cards {
        display: block;
        width: 80%;
        margin: 2rem auto;
    }
    .cards-left {
        width: 100%;
        height: 90vh;
        margin: 0 auto;
    }
    .cards-right {
        display: none;
    }
    .card {
        width: 100%;
        display: block;
        padding: 1rem 0;
    }
    .card blockquote {
        font-size: 1rem;
        padding: 1rem 3rem;
    }
    .author {
        font-size: .9rem;
        padding: .5rem 3rem;
    }
    .services-wrapper {
        display: none;
    }
    .faq-wrapper {
        height: 180vh;
    }
    .faq-wrap {
        width: 80%;
        margin: 2rem auto;
    }
    dl {
        width: 100%;
        height: 100%;
    }
    p.accordion {
        font-size: .8rem;
        position: relative;
    }
    p.accordion::after {
        font-size: .6rem;
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }
    div.panel {
        padding: .3rem 1rem;
        margin-bottom: .4rem;
        font-size: .8rem;
    }
}



@media (max-width: 680px) and (min-height: 667px) {
    .container {
        width: 100%;
    }
    .heading {
        font-size: 1.5rem;
        margin-top: 3rem;
    }
    nav {
        height: 3.5rem;
    }
    .burger {
        display: block;
        font-size: 2rem;
        z-index: 3;
    }
    nav ul {
        position: fixed;
        top: 60px;
        left: 15%;
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(0,0,0,.1);
        flex-direction: column;
        width: 70%;
        text-align: center;
        display: inline-block;
        transform: translateX(120%);
        transition: transform 0.4s ease;
        z-index: 3;
    }
    nav ul.show {
        display: inline-block;
        transform: translateX(0);
    }
    nav ul li {
        margin: 5px;
    }
    nav ul li:last-child {
        display: none;
    }
    .logo {
        width: 6rem;
    }
    .hero {
        top: 11rem;
        left: 1.2rem;
    }
    .hero h1 {
        font-size: .8rem;
        margin-bottom: 1rem;
    }
    .hero h3 {
        display: none;
    }
    .btn {
        width: 6rem;
        font-size: .7rem;
        padding: .4rem;
    }
    .established {
        top: 40rem;
        left: 1.2rem;
        font-size: .5rem;
    }
    .about-wrapper {
        height: 110vh;
    }
    .about-card {
        width: 70%;
        margin: 0 auto;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .card-1 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    .about-photo {
        display: none;
    }
    .about-photo img {
        width: 6rem;
        height: 6rem;
    }
    .about-text {
        width: 100%;
    }
    .about-text h2 {
        font-size: 1.2rem;
        text-align: center;
    }
    .about-text p {
        font-size: 1rem;
    }
    .testimonials-wrapper {
        height: 110vh;
    }
    .cards {
        display: block;
        width: 80%;
        margin: 2rem auto;
    }
    .cards-left {
        width: 100%;
        height: 90vh;
        margin: 0 auto;
    }
    .cards-right {
        display: none;
    }
    .card {
        width: 100%;
        display: block;
        padding: 1rem 0;
    }
    .card blockquote {
        font-size: 1rem;
        padding: 1rem 3rem;
    }
    .author {
        font-size: .9rem;
        padding: .5rem 3rem;
    }
    .services-wrapper {
        display: none;
    }
    .faq-wrapper {
        height: 140vh;
    }
    .faq-wrap {
        width: 80%;
        margin: 2rem auto;
    }
    dl {
        width: 100%;
        height: 100%;
    }
    p.accordion {
        font-size: 1rem;
        position: relative;
    }
    p.accordion::after {
        font-size: .6rem;
        position: absolute;
        display: block;
        top: 50%;
        right: 1%;
        transform: translate(-50%, -50%);
    }
    div.panel {
        padding: .3rem 1rem;
        margin-bottom: .4rem;
        font-size: .8rem;
    }
}


